body {
  margin: 0;
}


/*beginning of header section*/



header {
  display: flex;
  position: fixed;
  z-index: 2;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  height: 60px;
  margin: 10px 10px 10px 20px;
}

#name {
  font-size: 14px;
  color:mediumaquamarine;
}

nav {
  margin: 0 40px;
  display: inline-block;
}

span {
  padding: 15px;
}


span a {
  color: black;
}

#heading {
  display: inline-flex;
  align-items: center;
}




/*beginning of main section*/





main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 120px;
  justify-content: space-between;
  width: 1300px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.food {
  background-image: url("../images/img-story-main.png");
  width: 100%;
  height: 350px;
}

.cat {
  background-image: url("../images/img-story-1.png");
}

.outdoors {
  background-image: url("../images/img-story-2.png");
}

.camera {
  background-image: url("../images/img-story-3.png");
}

.image {
  display: flex;
  background-size:cover;
}


.caption {
  color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#earth, #research, #cats, #main-caption {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}


div .image {
  display: flex;
}

 #main-caption {
  font-size: 40px;
  text-align: center;
}


.outdoors.image, .camera.image, .cat.image {
  display: flex;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 20px auto;
  align-items: center;
}

#burger, #orca {
  width: 300px;
  margin: 0 auto;
}

#news-bites h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#news-bites p {
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: dimgray;
  padding: 12px;
  margin: 0;
  border-bottom: 1px solid black;
}

.food.image {
  align-items: center;
  justify-content: center;
}



/*beginning of footer section*/




footer {
  display: flex;
  background-color: mediumaquamarine;
  margin: auto;
  height: 300px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p, footer nav {
  font-family: verdana;
  font-size: 12px;
}


#title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding: 0px 20px;
  margin: 0 20px;
}
